
 @import "palette";
 @import "mixin";


/*__________ main __________*/

html {font-family: 'Raleway', sans-serif; font-size: .9em;}
body {background: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)), url(../img/p1.png);}

.first-load {height: 100vh; margin: auto; width: 50px;}

.scrollspy {
  margin-top: -200px;
  padding-top: 200px !important;
}

p {line-height: 2rem; font-size: 1.2em;}
h1 {font-size: 2.2em; text-shadow: 0 0 3px #000;}
a.active {background: $accent-color; color: #fff; transition: all 1.2s ease-in-out;}

.toast {line-height: 18px;}
.underline {text-decoration: underline;}

.parallax img {animation: fadein 1.7s;}​

/*__________ header __________*/

.navbar-fixed, nav {
    height: 75px;
}

a.button-collapse {height: 100%; line-height: 74px; color: #f44336; padding: 10px 0;}

nav {
  .brand-logo {padding: 2px 0 0 0; height: 75px; min-height: 75px;}
  .nav-wrapper {padding: 0px 10px;}
  ul a {padding: 5px 20px;}
}

.logo {
  width: 190px;
  filter: drop-shadow( 0 0 0 #00aaff);
  animation: pulse 10s infinite;
  &:hover {animation: none;}
}

.side-nav li {padding: 0;}

.side-nav.right-aligned {right: 0%;}

/*__________ parallax __________*/

/*.parallax img.one {animation: scale-pict 50s infinite; transform: scale(1);}*/

.parallax-container, .header-container {
  min-height: 90vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  .row {
    background: rgba(38, 50, 56, .6);
    width: 70vw;
    position: absolute;
    left: 50%;
    margin-left: -35vw;
    border-radius: 3px;
    padding: 30px;
  }
  .section {width: 100%;}
}

#index-banner{
  .parallax-container .row {top: 120px;}
  #nav-mouse i {font-size: 3em; transform: rotate(90deg);}
}

.section:after {
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
    /*background: #fff;*/
    content: "";
    height: 105px;
    width: 100%;
    display: block;
    margin: 25px 0 -65px 0;
}

.section .section:after, .not-skew:after {display: none;}

$a: 25px;
.go-down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: calc(50% - #{$a});
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, .2);
  cursor: pointer;
  transition: all .2s ease-in-out;
  i {font-size: 3em;}
  &:hover {transform: scale(1.2) rotate(90deg);}
}

.go-up {
  display: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 20px;
  border: 3px solid;
  border-radius: 50%;
  justify-content: center;
  background: rgba(255, 255, 255, .2);
  cursor: pointer;
  margin-left: -25px;
  transition: all .2s ease-in-out;
  i {font-size: 3em; }
  &:hover {transform: scale(1.2) rotate(-90deg);}
}

/*__________ carousel __________*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-carousel .owl-stage-outer {box-shadow: 0 0 60px #000;}

.owl-dots {
  /*@include on-circle($item-count: 21, $circle-size: 45em, $item-size: .3em);*/

    .owl-dot {
      display: block; 
      max-width: 100%; 
      border-radius: 50%;
      transition: .15s;
      span {background: #455a64 !important;}
      &:hover {
        filter: grayscale(0);
      }
      &.active span {background: $accent-color !important;}
    }
}

/* pure aspect ratio */
.box{
  position: relative;
  width: 100%;
  
  &:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
    //just for carousel
    //background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background10.jpg);
    background-size: cover;
    filter: brightness(11) blur(20px);
    border-radius: 50%;
  }
  &:after {
    position: absolute;
    content: "";
    width: 90%;
    border: 4px solid $light-primary-color;
    height: 90%;
    border-radius: 50%;
    top: 0;
    margin-top: 12.5%;
    margin-left: 12.5%;
    position: absolute;
    width: 75%;
    height: 75%;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
  }
}
.content-box {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20% 90px 90px 90px;
  &:after{
    border: 2px dotted $accent-color;
    border-radius: 50%;
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
  }

  .slide-block {
    border-top: 5px solid #f2f2f2;
    border-left: 5px solid #f2f2f2;
    border-right: 5px solid #f2f2f2;
    border-bottom: 75px solid #f2f2f2;
  }
}

.owl-carousel .alt {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .9em;
  margin: 10px;
  padding: 0;
  width: 95%;
  transition: all .5s ease;
  transform: rotateX(90deg);
  pointer-events: none;
  height: 45px;
  text-align: right;

  h3 {margin: 0; font-size: 1.4em; line-height: 0px;}
  p {font-size: .9em; line-height: 1.5em;}
}

/*__________ content __________*/

.activator .material-icons {cursor: pointer;}

.icon-block {
  padding: 15px 15px 0 15px;
  background: $aux-color;
  height: 435px;
  display: table;
  margin: 20px 0 -30px 0;
}

.card {
  box-shadow: 0 0 15px #ccc;
  border-radius: 3px;

  i.right {position: absolute; right: 0;}
  .card-content .card-title {
    line-height: 48px;
    margin: -10px auto 0 auto;
    float: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
  }
  .card-reveal .card-title {font-size: 1.2em; width: 85%;}
}

.section {padding-top: 0;}
.icon-block .material-icons {font-size: inherit;}
.icon, .icon2 {width: 100%;}

.responsive-img {margin-top: 2px;}
#map {width: 100%; height: 90vh;}

.input-field .prefix {color: #d0d0d0;}

#chartdiv {width: 100%; height: 100%;}

.chalk {
  background: url('../assets/img/chalk-bg.jpg'); 
  box-shadow: 0 0 15px #ccc; 
  border-radius: 3px;
  height: 350px;
  width: 100%;
  padding: 30px;
}

.amcharts-axis-label, .amcharts-balloon-div {font-size: 1.8em;}

.amcharts-balloon-bg {
  stroke: #FF5722;
  fill: #fff;
}

.row-flex {display: flex; justify-content: center;}

.success-send {transition: 1.8s; transform: scale(0);}
.sended {
  transform: scale(1); height: 400px; background-color: #fff;
  p {width: 100%;}
  a {text-align: center; width: 275px;}
}
.letter {transition: .6s;}
.sending {transform: scale(0);}
.g-recaptcha {margin: auto;}

form {
  background: #fff;
  box-shadow: 0 0 15px #ccc;
  padding: 30px !important;
  border-radius: 3px;
}

button:focus {box-shadow: 0 0 0px 3px #26a69a;}

/*__________ footer __________*/

footer.page-footer {margin: 0;}

.footer-copyright p {margin-top: 10px;}

.page-footer {
  .white-text.underline {
    img {    
      display: inline;
      vertical-align: middle;
      padding-right: 10px;
      transition: all .3s ease-in-out;
    }
    &:hover {
      text-decoration: none;
      img {transform: scale(1.2);}
    }
  }
}

.social a {margin: 0 5px;}
.social a:hover img {transform: scale(1.4);}
.social a img {width: 50px; transition: all .3s ease-in-out;}
.drupalcon {width: 140px;}


/*__________ @medias __________*/

@media only screen and (min-width: 2500px){
  .section:after {height: 180px; margin: 80px 0 -105px 0;}
}

/*tablet*/
@media only screen and (max-width : 992px) {
  #index-banner .section {top: 10%;}
  .section:after {height: 85px; margin: 10px 0 -65px 0;}
  .parallax img {display: block;}
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .parallax-container .row {top: 80px;}
  .card-reveal p {font-size: .8em;}
}

/*mobile*/
@media only screen and (max-width : 600px) {
  h1 {font-size: 1.8em;}
  h5 {font-size: 1.4em;}
  .btn-large {margin-top: 10px;}
  .icon-block {height: auto; margin: 20px 0 0 0;}
  nav .brand-logo {padding: 4px 0 0 0;}
  #index-banner {
    .section {top: 0;}
  }
  .content-box {padding: 8% 10px 90px 10px;}

  .one {left: 310px !important; top: -310px !important;}
}

/*__________ keyframes __________*/

@keyframes pulse {
  0% {filter: drop-shadow( 0 0 0 #00aaff);}
  60% {filter: drop-shadow( 0 0 0 #00aaff);}
  70% {filter: drop-shadow( 0 0 10px #00aaff);}
  80% {filter: drop-shadow( 0 0 0 #00aaff);}
  100% {filter: drop-shadow( 0 0 0 #00aaff);}
}

@keyframes scale-pict {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(1.1);}
}

@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}

/* COMMENTS

.input-field label {
  color: #263238;
}

.input-field input[type=text]:focus + label, .input-field textarea:focus + label {
  color: #ef6c00;
}

.input-field input[type=text]:focus, .input-field textarea:focus {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
 }

.input-field .prefix.active {
  color: #ef6c00;
}
*/

