<footer class="page-footer default-primary-color text-lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">In short</h5>
          <p class="grey-text text-lighten-4"><strong>SADMedia, desarrollo visual a medida</strong><br/>
                <em>{{getI18n('slogan').desc}}</em><br/><br/>
                Daniel G&oacute;mez<br/>
                C/ Francisco Rivas, 1.<br/>
                Torrelodones 28250 [Madrid]<br/>
                0034 676 868 046<br/>
                ddaniel.gomez@gmail.com</p>
            <p class="social">
                <a href="https://www.facebook.com/ddaniel.gomez"><img src="assets/img/facebook.png" alt="facebook" /></a>
                <a href="https://plus.google.com/u/0/+DanielG%C3%B3mezM"><img src="assets/img/g+.png" alt="G+" /></a>
                <a href="https://www.linkedin.com/in/ddanielgomez/"><img src="assets/img/linkedin.png" alt="LinkedIn" /></a>
            </p>
        </div>
        <div class="col l6 s12 center">
          <h5 class="white-text">Drupal member</h5>
          <img class="drupalcon" src="assets/img/Drupal_Association_ind_member_217.png" />
          <p class="white-text"><i class="material-icons" style="vertical-align: sub;">dashboard</i> Drupal builder from 2006</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>test</p>
        </div>
    </div>
</footer>