<!--index banner-->
<div class="section section scrollspy" id="index-banner">
  <div class="parallax-container scrollme">
      <div class="section no-pad-bot">
        <div class="container section">
          <div class="row center animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
            <div id="nav-mouse"><i class="material-icons">navigation</i></div>
            <h1 class="header center deep-orange-text">{{getI18n('slogan').desc}}</h1>
            <h5 class="header col s12 white-text">{{getI18n('slogan2').desc}}</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img class="one" src="assets/img/background5.jpg" alt="toubkal" id="head-pict"></div>
  </div>

  <!--in short-->
  <div class="container">
      <div class="section scrollme">
          <!--   Icon Section   -->
          <div class="row">
              <div class="col s12 m4">
                <div class="icon-block animateme" data-when="enter" data-from="0.4" data-to="0" data-rotatex="180">
                  <h2 class="center white-text"><i class="large material-icons">accessibility</i></h2>
                  <h5 class="center white-text">{{getI18n('ux').desc}}</h5>
                  <p class="light light-c-text">{{getI18n('ux_text').desc}}</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block animateme" data-when="enter" data-from="0.7" data-to="0" data-rotatex="180">
                  <h2 class="center white-text"><i class="large material-icons">portrait</i></h2>
                  <h5 class="center white-text">{{getI18n('ixd').desc}}</h5>
                  <p class="light light-c-text">{{getI18n('ixd_text').desc}}</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block animateme" data-when="enter" data-from="1" data-to="0" data-rotatex="180">
                  <h2 class="center white-text"><i class="large material-icons">phonelink</i></h2>
                  <h5 class="center white-text">RWD</h5>
                  <p class="light light-c-text">{{getI18n('rwd_text').desc}}</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>