<!--sobre mi-->
<div class="section">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container section scrollme">
            <div class="row center animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
              <h5 class="header col s12 white-text">{{getI18n('tit3').desc}}</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/img/background11.jpg" alt="background img 2"></div>
    </div>

    <div class="container">
        <div class="section scrollspy" id="about">
          <div class="row">
            <div class="col s12 center">
              <h3 class="center deep-orange-text"><i class="large material-icons">public</i></h3>
              <h4>{{getI18n('tit3_2').desc}}</h4>
                <p class="left-align light">{{getI18n('sec3').desc}}</p>
                <div class="row center">
                  <a href="assets/docs/DanielGomez.pdf" id="download-button" class="btn-large waves-effect waves-light dark-primary-color">{{getI18n('resume').desc}}</a>
                  <a href="assets/docs/DanielGomez_EN.pdf" id="download-button" class="btn-large waves-effect waves-light dark-primary-color">{{getI18n('resume2').desc}}</a>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <h5 class="center">{{getI18n('tit3_3').desc}}</h5>
                <div class="row scrollme">
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="240" data-opacity="0"><img id="i1" class="icon" src="assets/img/i/h.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="220" data-opacity="0"><img id="i2" class="icon" src="assets/img/i/c.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="200" data-opacity="0"><img id="i3" class="icon" src="assets/img/i/d.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="180" data-opacity="0"><img id="i4" class="icon" src="assets/img/i/l.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="160" data-opacity="0"><img id="i5" class="icon" src="assets/img/i/s.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="140" data-opacity="0"><img id="i6" class="icon" src="assets/img/i/m.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="120" data-opacity="0"><img id="i7" class="icon" src="assets/img/i/jq.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="100" data-opacity="0"><img id="i8" class="icon" src="assets/img/i/b.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="80" data-opacity="0"><img id="i9" class="icon" src="assets/img/i/a.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="80" data-opacity="0"><img id="i9" class="icon" src="assets/img/i/r.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="60" data-opacity="0"><img id="i10" class="icon" src="assets/img/i/ma.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="40" data-opacity="0"><img id="i11" class="icon" src="assets/img/i/vs.png" alt="image" /></div></div>
                </div>
                <div class="row scrollme">
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="220" data-opacity="0"><img id="i10" class="icon2" src="assets/img/i/ax.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="200" data-opacity="0"><img id="i11" class="icon2" src="assets/img/i/ba.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="180" data-opacity="0"><img id="i12" class="icon2" src="assets/img/i/p.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="160" data-opacity="0"><img id="i13" class="icon2" src="assets/img/i/ai.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="140" data-opacity="0"><img id="i14" class="icon2" src="assets/img/i/ae.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="120" data-opacity="0"><img id="i15" class="icon2" src="assets/img/i/i.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="100" data-opacity="0"><img id="i16" class="icon2" src="assets/img/i/su.png" alt="image" /></div></div>
                    <div class="col s4 m3 l2"><div class="animateme" data-when="enter" data-from="1" data-to="0" data-rotatey="80" data-opacity="0"><img id="i17" class="icon2" src="assets/img/i/e.png" alt="image" /></div></div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>