<!--procesos-->
<div class="section scrollspy" id="process">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container section scrollme">
            <div class="row center animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
              <h5 class="header col s12 white-text">{{getI18n('tit2').desc}}</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/img/background7.jpg" alt="background img 4"></div>
    </div>

    <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3 class="center deep-orange-text"><i class="large material-icons">accessibility</i></h3>
              <h4>{{getI18n('tit2_2').desc}}</h4>
                <p class="left-align light">{{getI18n('sec2').desc}}</p>
            </div>
            <ul class="row" id="cogCards">
                <!--card-->
                <li class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/work/iob.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Design sprints</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Diseño de producto</span>
                            <p>Conceptualización, storyboard, prototipado,...</p>
                        </div>
                    </div>
                </li>
                
                <!--card-->
                <li class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/work/webapp1.png">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Gesti&oacute;n online</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Gesti&oacute;n online</span>
                            <p>Flujos de trabajo, wireframming, integraci&oacute;n para pantallas gigantes, tablets, m&oacute;viles...</p>
                        </div>
                    </div>
                </li>

                <!--card-->
                <li class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/work/webapp4.png">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">RWD</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Dise&ntilde;o responsivo</span>
                            <p>Estructuras responsivas desde pantalla gigante hasta m&oacute;vil. Mediante librer&iacute;as o de creaci&oacute;n propia.</p>
                        </div>
                    </div>
                </li>

                <!--card-->
                <li class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/work/webapp2.png">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Kioskos interactivos</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Kioscos interactivos</span>
                            <p>Flujos de trabajo, wireframming, integraci&oacute;n, etc. en sistemas t&aacute;ctiles de interacci&oacute;n bancaria e informaci&oacute;n.</p>
                        </div>
                    </div>
                </li>

                <!--card-->
                <li class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/work/webapp3.png">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Apps escritorio</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Aplicaciones JavaFX</span>
                            <p>Dise&ntilde;o de interfaces para multiplataforma tras estudios de uso y prototipado.</p>
                        </div>
                    </div>
                </li>

            </ul>
          </div>
        </div>
    </div>
</div>