<!--sobre mi-->
<div class="section">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="anchor"></div>
          <div class="container section scrollme">
            <div class="row center animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
              <h5 class="header col s12 white-text">{{getI18n('identidad_tit').desc}}</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/img/background1.jpg" alt="background img 4"></div>
    </div>

    <div class="container">
        <div class="section scrollspy" id="identity">
          <div class="row">
            <div class="col s12 center">
              <h3 class="center deep-orange-text"><i class="large material-icons">thumb_up</i></h3>
              <h4>{{getI18n('identidad_tit2').desc}}</h4>
                <p class="left-align light">{{getI18n('identidad_sec2').desc}}</p>
            </div>
            <ul class="row">
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/clappy.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Clappy</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Venture builder</span>
                            <p>Logotipo para un servicio de refuerzo de equipos en empresa.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/ioBUILDERS.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">ioBUILDERS</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Venture builder</span>
                            <p>Identidad para venture builder de blockchain.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/kywyky.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Kywyky</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Mediación de seguros</span>
                            <p>Logotipo para compañía de mediación de seguros.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/c4.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Campo4.com</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Diarios de Montaña</span>
                            <p>Imagen para un website deportivo de deportes de montaña.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/avalon.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Avalon Informática</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo de marca</span>
                            <p>Imagen sobria para una empresa con más de 30 años en su sector.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/sadmedia.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">SADMedia</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo de marca</span>
                            <p>Es mi firma! :-)</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/medical-quatro.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Medical Quatro</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Imagen deportiva</span>
                            <p>Logotipo orientado a la imagen de medicina deportiva.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/openpos.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">OpenPOS <sup>NG</sup></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo de producto</span>
                            <p>Imagen de un producto principal de la compañía.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/op3.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">OP3 Pharmaceuticals</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Marca independiente</span>
                            <p>Logotipo de empresa.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/zenroot.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">ZenRoot</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo de servicio</span>
                            <p>Imagen de un servicio de compañía.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/todovertical.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Todo Vertical</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo de montaña</span>
                            <p>Logotipo para una compañía de guías de montaña.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/cibeles.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Cibeles.net</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Logotipo para empresa</span>
                            <p>Diseño para una empresa online de soluciones para publicaciones.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/blythe.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Blythe Museum</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Imagen web</span>
                            <p>Logotipo para un portal de exposición.</p>
                        </div>
                    </div>
                </li>
                <!--card-->
                <li class="col s6 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/img/identity/abril-aguilar.jpg">
                        </div>
                        <div class="card-content activator">
                            <i class="material-icons right">more_vert</i>
                            <span class="card-title activator grey-text text-darken-4">Abril&Aguilar</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Imagen jurídica</span>
                            <p>Logotipo para firma jurídica.</p>
                        </div>
                    </div>
                </li>
            </ul>
          </div>
        </div>
    </div>
</div>