<div class="navbar-fixed">
    <nav class="dark-primary-color text-lighten-5" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="https://www.sadmedia.com" class="brand-logo"><img class="responsive-img logo" src="assets/img/sadmedia-logo.svg"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#index-banner">{{getI18n('home').desc}}</a></li>
            <li><a href="#work">{{getI18n('work_tit').desc}}</a></li>
            <li><a href="#process">{{getI18n('process').desc}}</a></li>
            <li><a href="#about">{{getI18n('about').desc}}</a></li>
            <li><a href="#contact">{{getI18n('contact').desc}}</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#index-banner">{{getI18n('home').desc}}</a></li>
            <li><a href="#work">{{getI18n('work_tit').desc}}</a></li>
            <li><a href="#process">{{getI18n('process').desc}}</a></li>
            <li><a href="#about">{{getI18n('about').desc}}</a></li>
            <li><a href="#contact">{{getI18n('contact').desc}}</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>