<!--contacto-->
<div class="section">
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container section scrollme">
            <div class="row center animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
              <h5 class="header col s12 white-text">{{getI18n('tit4').desc}}</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/img/background6.jpg" alt="background img 6"></div>
    </div>

    <div class="container">
        <div class="section scrollspy" id="contact">
          <div class="row">
            <div class="col s12 center">
              <h3 class="center deep-orange-text"><i class="large material-icons">send</i></h3>
              <h4>{{getI18n('contact').desc}}</h4>
              <p class="left-align light">{{getI18n('sec4').desc}}</p>
                {{diagnostic}}
                <form (ngSubmit)="onSubmit()" #contact="ngForm">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_circle</i>
                            <input [(ngModel)]="model.name" id="name" type="text" name="name" class="validate" required="" aria-required="true">
                            <label for="last_name"><sup>*</sup>{{getI18n('name').desc}}</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">email</i>
                            <input [(ngModel)]="model.email" id="email" type="email" name="email" class="validate" required="" aria-required="true">
                            <label for="last_name"><sup>*</sup>{{getI18n('email').desc}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <input [(ngModel)]="model.subject" id="subject" type="text" name="subject" class="validate">
                            <label for="last_name">{{getI18n('subject').desc}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea [(ngModel)]="model.message" id="message" name="message" class="materialize-textarea"></textarea>
                            <label for="last_name"><sup>*</sup>{{getI18n('message').desc}}</label>
                        </div>
                    </div>
                    <div class="row">
                      <button (click)="newContact(); contact.reset()" [disabled]="!contact.form.valid" class="btn waves-effect waves-light dark-primary-color" type="submit" name="action">{{getI18n('send').desc}}
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </form>
            </div>
          </div>
          <section class="presend" id="presend">
              <div class="row">
                <div class="col m12 l6">
                    <p class="left-align light pre-name">{{model.name}}</p>
                </div>
                <div class="col m12 l6">
                    <p class="right-align light pre-mail">{{model.email}}</p>
                </div>
                <div class="col s12">
                    <p class="left-align light pre-subject">{{model.subject}}</p>
                </div>
                <div class="col s12">
                    <p class="left-align light pre-message">{{model.message}}</p></div>
              </div>
          </section>

        </div>
    </div>
    <div style="margin-bottom: -15px;">
        <div id="map"></div>
    </div>
</div>