
<!--navigation-->
<navigation></navigation>
<div class="go-down hide-on-med-and-down"><i class="material-icons">navigate_next</i></div>
<div class="go-up"><i class="material-icons">navigate_next</i></div>
<!--routeroulet-->
<router-outlet></router-outlet>

<!--main section-->
<!--section-front></section-front-->

<!--new works-->
<!--section-jobs></section-jobs-->

<!--process section-->
<!--section-process></section-process-->

<!--process section-->
<!--section-identity></section-identity-->

<!--about me section-->
<!--section-about></section-about-->

<!--contact section-->
<!--section-contact></section-contact-->

<!--footer-->
<section-footer></section-footer>

