
<!--navigation-->
<navigation></navigation>

<!--routeroulet-->
<router-outlet></router-outlet>

<!--main section-->
<!--section-front></section-front-->

<!--new works-->
<!--section-jobs></section-jobs-->

<!--process section-->
<!--section-process></section-process-->

<!--process section-->
<!--section-identity></section-identity-->

<!--about me section-->
<!--section-about></section-about-->

<!--contact section-->
<!--section-contact></section-contact-->

<!--footer-->
<section-footer></section-footer>

